@import "tailwindcss";
@import "../components/drawer/drawer.css";
@import "../components/navbar/navbar.css";
@import "./(web)/(home)/components/carousel/carousel.css";
@import "../components/button/button.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  @apply bg-zinc-50 dark:bg-neutral-900;
}

@layer utilities {
  &[class$="f-row"] {
    @apply flex-row;
  }

  .size-full {
    @apply w-full h-full;
  }
  .flex-center {
    @apply flex items-center-safe justify-center-safe;
  }
  [class|="flex-between"] {
    @apply flex items-center justify-between;

    &[class$="-row"] {
      @apply flex-row;
    }
    &[class$="-col"] {
      @apply flex-col;
    }
  }
  [class|="flex-around"] {
    @apply flex items-center justify-around;

    &[class$="-row"] {
      @apply flex-row;
    }
    &[class$="-col"] {
      @apply flex-col;
    }
  }

  .border-b-default {
    @apply border-b border-neutral-200 dark:border-neutral-700;
  }
}

@media screen and (max-width: 383px) {
  .user-button {
    @apply bg-transparent px-0;
  }
}

.navbar-icon {
  font-size: 2rem !important;
  @apply text-neutral-900 dark:text-neutral-50;
}

.carousel-icon {
  font-size: 3rem !important;
  @apply text-neutral-900 dark:text-neutral-50;
  @media screen and (max-width: 640px) {
    font-size: 1rem !important;
    @apply text-neutral-900 dark:text-neutral-50;
  }
}

.user-icon {
  @media screen and (max-width: 383px) {
    font-size: 1.5rem !important;
    @apply p-3;
  }
}

[class*="progressbar-nav"] {
  width: 0%;
  transition: width linear;
}

.progressbar-nav {
  animation: progressbar-anim-7s 7s linear forwards;
}

@keyframes progressbar-anim-7s {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/*Animation for typewriter effect */

@keyframes caret-blink {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #737373;
  }
}

@keyframes placeholder-typing {
  0% {
    width: 0%;
    opacity: 0;
  }
  5% {
    width: 0%;
    opacity: 1;
  }
  35% {
    width: 100%;
    opacity: 1;
  }
  85% {
    width: 100%;
    opacity: 1;
  }
  97% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
  @apply border-r border-neutral-500;
  animation: placeholder-typing 7s steps(40, end) 1 forwards,
    caret-blink 0.75s step-end infinite;
}

.loading-icon {
  font-size: 4rem !important;
}
